[package]
name = "rs-car"
version = "0.1.0"
edition = "2021"

[lib]
name = "rs_car"
path = "src/lib.rs"

[patch.crates-io]
ipfs-unixfs = { path = 'rust-ipfs/unixfs' }

[dependencies]
hex = "0.4.3"
futures = "0.3.26"
cid = "0.10.1"
libipld = "0.16.0"
multibase = "0.9.1"
multihash = "0.18.0"
libipld-cbor = "0.16.0"
sha2 = "0.10.6"
multicodec = "0.1.0"
blake2b_simd = "1.0.1"

[dev-dependencies]
async-std = "1.12.0"
ipfs-unixfs = "0.2.0"
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"
serde = "1.0.152"
serde_json = "1.0.93"
